:root {
  --primaryColor: #90a366;
  --secondaryColor: #984063;
  --bgColor: #083344;
  --fontColor: #f0f9ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bgColor);
  color: var(--fontColor);
  min-height: 50000px;
}

/* Navbar Mulai */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5%;
  background-color: var(--bgColor);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  opacity: 95%;
}

.navbar .navbar-logo span {
  color: var(--primaryColor);
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--fontColor);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 3);
}

.navbar .navbar-nav a {
  color: var(--fontColor);
  font-weight: 400;
  font-size: 1rem;
  display: inline-block;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primaryColor);
}

.navbar .navbar-nav a::after {
  content: " ";
  display: block;
  border-bottom: 0.1rem solid var(--primaryColor);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--fontColor);
  margin: 0 0.5rem;
}

.navbar .navbar-nav a::after {
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a:hover {
  color: var(--primaryColor);
}

#hamburger-menu {
  display: none;
}

/* Navbar search mulai */

.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7.5%;
  background-color: var(--fontColor);
  width: 40rem;
  height: 4rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
  border-radius: 0.5rem;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  margin-left: 1rem;
  background-color: var(--fontColor);
  padding: 1rem;
  cursor: text;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--bgColor);
}
/* Navbar search selesai */

/* Navbar Selesai */

/* Hero Section Mulai */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: -2rem;
  background: linear-gradient(
    0deg,
    rgba(8, 51, 68, 1) 10%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.5rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 4rem;
  color: var(--fontColor);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 2);
  line-height: 1.3;
  margin-top: -1rem;
}

.hero .content h1 span {
  color: var(--primaryColor);
}

.hero .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 3);
  /* kalau nyatu sama background (optional) */
  /* mix-blend-mode: difference; */
}

.hero .content .cta {
  display: inline-block;
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--bgColor);
  background-color: var(--secondaryColor);
  border-radius: 1rem;
  box-shadow: 1px 1px 5px rgba(8, 51, 68, 2);
}
/* Hero Section Selesai */

/* About Section Mulai */
.about,
.menu,
.products {
  padding: 7rem 7% 18rem;
}

.about h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span,
.products h2 span {
  color: #90a366;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 3);
}

.about h4 {
  display: flex;
  justify-content: center;
  max-width: 40;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 5.5rem;
  margin-top: -2.7rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 3);
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about .row .about-img {
  flex: 1 1 150rem;
}

.about .row .about-img img {
  width: 100%;
  border-radius: 0.5rem;
}

.about .row .content h3 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 3);
}

.about .row .content p {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: justify;
  text-justify: inter-word;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 3);
}
/* About Section Selesai */

/* Menu Section Mulai */
.menu h2,
.products h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.menu p,
.contact p,
.products p {
  text-align: center;
  max-width: 40;
  margin: auto;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 3);
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 2rem;
}

.menu .row .menu-card img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 1.5rem 5%;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 1rem;
}
/* Menu Section Selesai */

/* Product Section Mulai */
.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.products .product-card {
  text-align: center;
  border: 1px solid #f0f9ff;
  padding: 2rem;
}

.products .product-icon {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.products .product-icon a {
  width: 4rem;
  height: 4rem;
  color: var(--fontColor);
  margin: 0.3rem;
  border: 1px solid var(--primaryColor);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .product-icon a:hover {
  background-color:  var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.products .product-image {
  padding: 1rem 0;
}

.products .product-image img {
  height: 20rem;
  border-radius: 10%;
}

.products .product-content h3 {
  font-size: 2rem;
}

.products .product-stars {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: #eab308;
}

.products .product-stars .product-stars1 {
  fill: #eab308;
}

.products .product-price {
  font-size: 1.5rem;
  font-weight: bold;
}

.products .product-price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1.5rem;
  color: var(--secondaryColor);
  font-weight: bold;
}

.products .product-price 
/* Product Section Selesai */

/* Contact Section Mulai */
.contact {
  padding: 5rem 7% 1.5rem;
  margin-top: 2rem;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: var(--secondaryColor);
  box-shadow: 5px 5px 5px rgba(240, 249, 255, 2);
}

.contact h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 0rem;
}

.contact .row h4 {
  font-size: 2rem;
  flex: 1 1 45rem;
  margin-top: -3rem;
  color: var(--fontColor);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 3);
}

.contact .row .gmaps {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
  font-size: 1rem;
  font-style: 400;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bgColor);
  border: 3px solid var(--fontColor);
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.5rem;
  background: none;
  color: #fff;
}

.contact .row form .button {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7;
  color: #000;
  background-color: var(--fontColor);
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(8, 51, 68, 2);
}

/* Footer Mulai */
footer {
  background-color: var(--primaryColor);
  text-align: center;
  padding: 1rem 0 2rem;
  margin-top: 3rem;
}

footer .cwu {
  color: var(--bgColor);
  margin-top: 0.9rem;
  font-size: 1rem;
}

footer .socialmedia {
  padding: 1rem 0;
}

footer .socialmedia a {
  color: var(--bgColor);
  margin: 1.1rem;
}

footer .socialmedia a:hover,
footer .links a:hover {
  color: var(--fontColor);
}

footer .links a:hover {
  color: var(--bgColor);
}

footer .links {
  margin-bottom: 1.2rem;
}
footer .links a {
  color: var(--fontColor);
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
  font-weight: 400;
  word-spacing: 0.2rem;
}

footer .credit a {
  color: var(--bgColor);
}
/* Footer Selesai */

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav a {
    color: var(--primaryColor);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--fontColor);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 25rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.5rem;
  }

  .menu p {
    font-size: 1.5rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .gmaps {
    height: 30rem;
  }
}

/* Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
